.card-text {font-family: 'Space Mono', monospace;
    background-color: blanchedalmond;
    color: blue;
}
.card-title {
    color: red;
}
.card-body {background-color: blanchedalmond;}
/*article {background-image: url("https://www.pikpng.com/pngvi/iihbxbi_dripping-melting-galaxy-space-background-overlay-dripping-galaxy/");}*/

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  /*body {
    background: url('blogBackground.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
/* be sure to link this file to your index.html file */
